.Home {
  background: linear-gradient(306.71deg, #e5e9ec 9.34%, #dddde6 85.65%),
    linear-gradient(83.76deg, #b8bbc0 3.4%, #eff2f5 96.6%),
    radial-gradient(70.71% 99% at 100% 39.75%, #f9f9ff 0%, #dadbe0 100%),
    radial-gradient(70.41% 100% at 50% 0%, #2cd9ff 0%, #d9dee6 100%);
  background-blend-mode: soft-light, difference, difference, normal;
}
input[type="color"] {
  -webkit-appearance: none;
  border: none;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  overflow: hidden;
}
input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}
input[type="color"]::-webkit-color-swatch {
  border: none;
}
